body{
    margin: 0;
}
h1{

}

.logo-name{

}

.logo-desc{

}

h2{

}

.logo-pic{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 10%;
}

.top-container{

}

.middle-container{

}

.bottom-container{

}