body{
    margin: 0;
}
h1{

}

.logo-name{
    float: left;
    margin-left: 80px;
    position: absolute;
    top: 30px;
}

.logo-desc{
    float: left;
    margin-left: 80px;
    position: absolute;
    top: 70px
}

h2{

}

.logo-pic{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 10%;
}

.top-container{
    background-color:#ffdecf;
    position: relative;
    height: auto;
    padding: 100px 100px;
}

.middle-container{
    background-color:#ba7967;
}

.bottom-container{
    background-color: #5e6f64;
    position: relative;
}